<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="../assets/bootstrap/css/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="../assets/bootstrap/carousel.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light"> -->
            <div class="">
                <div class="container-fluid">
                <div class="row border border-3 border-primary border-end-0 border-start-0">
                    <span><b>PATIENT: </b></spans> <b>.Patient</b>
                </div>
                <div class="row border border-3 border-primary border-end-0 border-start-0  border-top-0">
                    <div class="col-sm">
                        <b>DATE OF BIRTH: </b> .BirthDate
                      </div>
                      <div class="col-sm">
                        <b>WEIGHT: </b> .Weight
                      </div>
                      <div class="col-sm">
                        <b>HEIGHT: </b> .Height
                      </div>
                      <div class="col-sm">
                        <b>GENDER: </b> .Gender
                      </div>
                </div>
            </div>
        <!-- </nav> -->
    </header>

    <main>
        <div class="container-sl marketing" style="padding-top: 25px;">

            <div class="row text-center">
                <h1><b>Walk Analysis Report</b></h1>
            </div>

            <div class="row">
                <table class="table border border-1 border-dark text-center">
                    <thead class="thead-dark">
                      <tr>
                        <th class="col-4 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Spatio-Temporal parameters</th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Value</th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;"></th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Normal value</th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Units</th>
                      </tr>
                      <tr style="font-size: 10px;">
                        <th class="col-4 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;"></th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">(Mean &plusmn; Std Dev)</th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;"></th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">(Mean &plusmn; Std Dev)</th>
                        <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;"></th>
                      </tr>                      
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Analysis duration</th>
                        <td class="col-2 border border-dark" style="padding: 2px;">21.5</td>
                        <td class="col-2 border border-dark" style="padding: 2px;"></td>
                        <td class="col-2 border border-dark" style="padding: 2px;"></td>
                        <td class="col-2 border border-dark" style="padding: 2px;">s</td>
                      </tr>
                      <tr>
                        <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Analysis duration</th>
                        <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                        <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                        <td class="col-2 border border-dark" style="padding: 2px;"></td>
                        <td class="col-2 border border-dark" style="padding: 2px;">steps/min</td>
                      </tr>
                      <tr>
                        <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Analysis duration</th>
                        <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                        <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                        <td class="col-2 border border-dark" style="padding: 2px;"></td>
                        <td class="col-2 border border-dark" style="padding: 2px;">m/s</td>
                      </tr>
                    </tbody>
                    <thead class="thead-dark">
                        <tr>
                          <th class="col-4 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Spatio-Temporal parameters</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Left Value</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Right Value</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Normal value</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">Units</th>
                        </tr>
                        <tr style="font-size: 10px;">
                          <th class="col-4 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;"></th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">(Mean &plusmn; Std Dev)</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">(Mean &plusmn; Std Dev)</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;">(Mean &plusmn; Std Dev)</th>
                          <th class="col-2 border border-dark" style="padding: 2px; background-color: rgb(112, 88, 142); color: white;"></th>
                        </tr>                      
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Gait cycle duration</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">s</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Stride length</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">m</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">% Stride length</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% height</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Step length</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% str length</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Stance phase</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% cycle</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Swing phase</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% cycle</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">First double support phase</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% cycle</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Single support phase</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% cycle</td>
                          </tr>
                          <tr>
                            <th scope="row" class="col-4 border border-dark" style="padding: 2px;">Elaborated steps</th>
                            <td class="col-2 border border-dark" style="padding: 2px;">119.90 &plusmn; 46.94</td>
                            <td class="col-2 border border-dark" style="padding: 2px;">1.12 &plusmn; 0.23</td>
                            <td class="col-2 border border-dark" style="padding: 2px;"></td>
                            <td class="col-2 border border-dark" style="padding: 2px;">% cycle</td>
                          </tr>
                      </tbody>                    
                  </table>                  
            </div>

            <div class="row text-center pt-3">
                <h3>Stance phases</h3>
            </div>
            <div class="row">
                <img style="padding: 0px;" width="100%" src="../assets/images/StancePhase.png">
            </div>

            <div class="row text-center pt-4">
                <span class="col"></span>
                <h3 class="col">Gait Cycle</h3>
                <h5 class="col ms-auto text-secondary">Symmetry Index: .SymmetryIndex</h5>
            </div>
            <div class="row">                
                <div class="col-6">
                    <img style="padding: 0px;" width="100%" src="../assets/images/GiantCycleLeft.png">
                </div>
                <div class="col-6">
                    <img style="padding: 0px;" width="100%" src="../assets/images/GiantCycleRight.png">
                </div>
            </div>

            <div class="row text-center pt-4">
                <h3>Single Support Phase</h3>
            </div>
            <div class="row">
                <div class="col-6">
                    <img style="padding: 0px;" width="100%" src="../assets/images/GiantCycleLeft.png">
                </div>
                <div class="col-6">
                    <img style="padding: 0px;" width="100%" src="../assets/images/GiantCycleRight.png">
                </div>
            </div>

            <div class="row text-center pt-4">
                <h3>Trail Comparision Tool - JUMPS</h3>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="row text-center pt-4">
                        <h3>Height(CMJ)</h3>
                    </div>
                    <img style="padding: 0px;" width="100%" src="../assets/images/GiantCycleLeft.png">
                </div>
                <div class="col-6">
                    <div class="row text-center pt-4">
                        <h3>Height(SJ)</h3>
                    </div>
                    <img style="padding: 0px;" width="100%" src="../assets/images/GiantCycleLeft.png">
                </div>
            </div>

        </div>
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
