<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="../assets/bootstrap/css/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="../assets/bootstrap/carousel.css" rel="stylesheet">
</head>
<body>
    <header>
        <!-- <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light"> -->
            <div class="">
                <div class="container-fluid">
                <div class="row border border-3 border-primary border-end-0 border-start-0">
                    <span><b>PATIENT: </b></spans> <b>.Patient</b>
                </div>
                <div class="row border border-3 border-primary border-end-0 border-start-0  border-top-0">
                    <div class="col-sm">
                        <b>DATE OF BIRTH: </b> .BirthDate
                      </div>
                      <div class="col-sm">
                        <b>WEIGHT: </b> .Weight
                      </div>
                      <div class="col-sm">
                        <b>HEIGHT: </b> .Height
                      </div>
                      <div class="col-sm">
                        <b>GENDER: </b> .Gender
                      </div>
                </div>
            </div>
        <!-- </nav> -->
    </header>

    <main>
        <div class="container-sl marketing" style="padding-top: 25px;">            
            <div class="row">                
                <div class="col-6">
                    <img style="padding: 0px;" width="95%" src="../assets/images/chart1.png">
                </div>
                <div class="col-6">
                    <img style="padding: 0px;" width="95%" src="../assets/images/chart2.png">
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <img style="padding: 0px;" width="95%" src="../assets/images/chart3.png">
                </div>
                <div class="col-6">
                    <img style="padding: 0px;" width="95%" src="../assets/images/chart4.png">
                </div>
            </div>
        </div>
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
